body {
  background-color: #6d8891; 
  font-family: 'Roboto', sans-serif;
}

.byline {
  font-style: italic
}

.date-scraped {
  font-style: italic
}

.jumbotron {
  background-color: #dfe6ea;
  padding: 15px
}

.card {
  background-color: #dfe6ea
}